<section class="edit-event">

    <h2>Create New Event</h2>

    <form id="edit-event-form" *ngIf="event" (ngSubmit)="createEvent()" #form="ngForm">
        
        <label>Event Name</label>
        <input type="text" [(ngModel)]="event.EventName" name="EventName" required />

        <label>Description</label>
        <textarea [(ngModel)]="event.Description" name="Description"></textarea>

        <label>Date</label>
        <input type="date" [(ngModel)]="event.EventDate" name="EventDate" required />

        <label>Location</label>
        <input type="text" [(ngModel)]="event.Location" name="Location" required />

        <label>Category Name</label>
        <input type="text" [(ngModel)]="event.CategoryName" name="CategoryName" />

        <label>Ticket Price</label>
        <input type="number" [(ngModel)]="event.TicketPrice" name="TicketPrice" />

        <label>Goal Amount</label>
        <input type="number" [(ngModel)]="event.GoalAmount" name="GoalAmount" />

        <label>Current Progress</label>
        <input type="number" [(ngModel)]="event.CurrentProgress" name="CurrentProgress" />

        <label>Organisation Name</label>
        <input type="text" [(ngModel)]="event.OrganisationName" name="OrganisationName" />

        <div class="buttons">
            <button type="submit" [disabled]="submitting || !form.valid">Create</button>
            <button type="button" (click)="router.navigate(['/admin/event-list'])">Cancel</button>
        </div>
    </form>
</section>