<section class="edit-event">

    <h2>Create New Event</h2>

    <form id="edit-event-form" *ngIf="event" (ngSubmit)="createEvent()" #form="ngForm">

        <label>Event Name</label>
        <input type="text" [(ngModel)]="event.EventName" name="EventName" required />

        <label>Description</label>
        <textarea [(ngModel)]="event.Description" name="Description"></textarea>

        <div id="event-timings-div">
            <div id="timings-left">

                <label>Start Date</label>
                <input type="date" [(ngModel)]="event.EventDate" name="EventDate" required />

                <label>Start Time</label>
                <input type="time" [(ngModel)]="event.StartTime" name="StartTime" required />

            </div>
            <div id="timings-right">

                <label>End Date</label>
                <input type="date" [(ngModel)]="event.EndDate" name="EndDate" required/>

                <label>End Time</label>
                <input type="time" [(ngModel)]="event.EndTime" name="EndTime" required/>
            </div>
        </div>

        <label>Location</label>
        <input type="text" [(ngModel)]="event.Location" name="Location" required />

        <label>Category</label>
        <select [(ngModel)]="event.CategoryID" name="CategoryID" required>
            <option *ngFor="let c of categories" [value]="c.CategoryID">{{ c.CategoryName }}</option>
        </select>

        <label>Organisation</label>
        <select [(ngModel)]="event.OrganisationID" name="OrganisationID" required>
            <option *ngFor="let o of organisations" [value]="o.OrganisationID">{{ o.OrganisationName }}</option>
        </select>

        <label>Ticket Price</label>
        <input type="number" [(ngModel)]="event.TicketPrice" name="TicketPrice" />

        <label>Goal Amount</label>
        <input type="number" [(ngModel)]="event.GoalAmount" name="GoalAmount" />

        <label>Current Progress</label>
        <input type="number" [(ngModel)]="event.CurrentProgress" name="CurrentProgress" />

        <div class="buttons">
            <button type="submit" [disabled]="submitting || !form.valid">Create</button>
            <button type="button" (click)="router.navigate(['/admin/event-list'])">Cancel</button>
        </div>
    </form>
</section>