<head>
    <title>Home page</title>
</head>

<body>
    <!-- Page Welcome Message -->
    <section id="msg">
        <p>Hi, and welcome to Gold Coast Charity Connect! The one place to find out about local charity events in our
            area.
        </p>
        <p>Click on an event to learn more and register!</p>
    </section>

    <!-- Upcoming Events -->
    <h2>Upcoming Events</h2>
    <section id="upcoming-events-box">
        <div *ngIf="upcomingEvents.length; else noUpcoming">
            <div *ngFor="let event of upcomingEvents" class="event">
                <img [src]="event.CategoryImage" class="category-image" [alt]="event.EventName" />
                <div class="event-details">
                    <h3><a [routerLink]="['/event', event.EventID]">{{ event.EventName }}</a></h3>
                    <p>{{ event.Description }}</p>
                    <p>Date: {{ event.EventDate | date:'longDate' }}</p>
                    <p>Location: {{ event.Location }}</p>
                </div>
            </div>
        </div>
        <ng-template #noUpcoming>
            <p>No upcoming events to show.</p>
        </ng-template>
    </section>

    <!-- Past Events -->
    <h2>Past Events</h2>
    <section id="past-events-box">
        <div *ngIf="pastEvents.length; else noPast">
            <div *ngFor="let event of pastEvents" class="event">
                <img [src]="event.CategoryImage" class="category-image" [alt]="event.EventName" />
                <div class="event-details">
                    <h3><a [routerLink]="['/event', event.EventID]">{{ event.EventName }}</a></h3>
                    <p>{{ event.Description }}</p>
                    <p>Date: {{ event.EventDate | date:'longDate' }}</p>
                    <p>Location: {{ event.Location }}</p>
                </div>
            </div>
        </div>
        <ng-template #noPast>
            <p>No past events to show.</p>
        </ng-template>
    </section>
    
</body>